<div ng-controller="controlCtrl">
    <div class="row">
        <!--侧导航栏-->
        <ul class="col-sm-2 nav nav-pills nav-stacked">
            <li><a href="#/myppt">我的幻灯</a></li>
            <li><a href="#/holdmeeting">我发起的会议</a></li>
            <li><a href="#/attendmeeting">我参加的会议</a></li>
            <li class="active"><a>控制会议</a></li>
        </ul>


        <!--main content-->
        <div class="col-sm-10">
            <!--控制会议-->
            <div class="page-header">
                <h3>控制会议 - {{meeting.topic}}
                    <small>{{meeting.id}}</small>
                </h3>
            </div>

            <!--页码指示器-->
            <div class="center-block">
                <div class="pagination ">
                    <ul>
                        <li class="previous" ng-click="updatePageId(currentPageId-1)">
                            <a class="fui-arrow-left"></a>
                        </li>

                        <li ng-repeat="index in pageRange" ng-class="{active:currentPageId==index}"
                            ng-click="updatePageId(index)">
                            <a>{{index}}</a>
                        </li>

                        <li class="next" ng-click="updatePageId(currentPageId+1)">
                            <a class="fui-arrow-right"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--画板-->
            <div class="col-sm-12">
                <canvas drawing id="pageCanvas"></canvas>
            </div>
        </div>


    </div>

    <div hidden>
        <div ng-repeat="index in pageRange">
            <img ng-src="/ppt/getImage?pptId={{meeting.ppt.id}}&pageId={{index}}" pageid="{{index}}" id="page{{index}}"
                 onloadnotify/>
        </div>
    </div>
</div>