<div class="container" ng-controller="holdmeetingCtrl">
    <div class="row">
        <!--侧导航栏-->
        <ul class="col-sm-3 nav nav-pills nav-stacked">
            <li>
                <a href="#/myppt">
                    <span class="fui-heart"></span> &nbsp;
                    {{'SIDE_BAR.NAV_MYPPT'|translate}}
                </a>
            </li>
            <li class="active">
                <a href="#/holdmeeting">
                    <span class="fui-cmd"></span> &nbsp;
                    {{'SIDE_BAR.NAV_HOLD'|translate}}
                </a>
            </li>
            <li>
                <a href="#/attendmeeting">
                    <span class="fui-eye"></span>&nbsp;
                    {{'SIDE_BAR.NAV_ATTEND'|translate}}
                </a>
            </li>
        </ul>

        <!--{{'HOLD.MODAL_NEWMEETING.'|translate}}-->

        <!--main content-->
        <div class="col-sm-9">
            <!--我发起的会议列表-->
            <div class="page-header">
                <h3>
                    {{'HOLD.PAGE_HEADER'|translate}}
                    <small> {{'HOLD.PAGE_SUBHEADER'|translate:'{num:holdMeetings.length}'}}</small>
                </h3>
                <div>
                    <button class="btn btn-info" ng-click="showModalHoldNewMeeting()">
                        {{'HOLD.BTN_SHOW_MODAL_NEW_MEETING'|translate}}
                    </button>
                    <button class="btn btn-success" ng-click="refreshMeetingData()">
                        {{'HOLD.BTN_REFRESH_MEETING_DATA'|translate}}
                    </button>
                </div>
            </div>


            <div class="panel panel-default" ng-repeat="meeting in holdMeetings">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img ng-src="/ppt/getImage?pageId=1&pptId={{meeting.ppt.id}}" class="img-thumbnail"/>
                        </div>

                        <div class="col-sm-8">
                            <dl class="dl-horizontal">
                                <dt>
                                    {{'HOLD.MEETING.ID'|translate}} &nbsp;
                                    <span class="fui-arrow-right"></span>
                                </dt>
                                <dd> {{meeting.id}}</dd>

                                <dt>
                                    {{'HOLD.MEETING.TOPIC'|translate}} &nbsp;
                                    <span class="fui-chat"></span>
                                </dt>
                                <dd>{{meeting.topic}}</dd>

                                <dt>
                                    {{'HOLD.MEETING.PPT'|translate}} &nbsp;
                                    <span class="fui-calendar-solid"></span>
                                </dt>
                                <dd>{{meeting.ppt.fileName}}
                                    <div>
                                        <small>(ID:{{meeting.ppt.id}})</small>
                                    </div>
                                </dd>

                                <dt>
                                    {{'HOLD.MEETING.ATTENDEE_NUM'|translate}} &nbsp;
                                    <span class="fui-user"></span>
                                </dt>
                                <dd>{{meeting.attendees.length}}</dd>
                            </dl>


                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group"><a class="btn btn-sm btn-success"
                                                              href="#/control/{{meeting.id}}">
                                        {{'HOLD.BTN_CONTROL_MEETING'|translate}}
                                    </a>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-warning"
                                                ng-click="deleteHoldMeeting(meeting.id)">
                                            {{'HOLD.BTN_DELETE_MEETING'|translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!--发起会议modal-->
    <!-- Modal -->
    <div class="modal fade" id="holdNewMeetingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{'HOLD.MODAL_NEWMEETING.TITLE'|translate}}

                    </h4>
                </div>
                <div class="modal-body">
                    <!--输入会议主题-->
                    <h5>{{'HOLD.MODAL_NEWMEETING.TOPIC'|translate}}</h5>
                    <input type="text" placeholder="输入会议主题" class="form-control" ng-model="newMeetingTopic"/>
                    <!--选择PPT-->
                    <h5>{{'HOLD.MODAL_NEWMEETING.CHOOSE_PPT'|translate}}</h5>

                    <div ng-repeat="ppt in ppts">
                        <input type="radio" ng-model="$parent.pptId" value="{{ppt.id}}" ng-change="alert('hi')"/>
                        #{{ppt.id}} - {{ppt.fileName}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{'HOLD.MODAL_NEWMEETING.BTN_CLOSE'|translate}}
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="holdNewMeeting()">
                        {{'HOLD.MODAL_NEWMEETING.BTN_LAUNCH_MEETING'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



