<div class="container" ng-controller="holdmeetingCtrl">
    <div class="row">
        <!--侧导航栏-->
        <ul class="col-sm-2 nav nav-pills nav-stacked">
            <li><a href="#/myppt">我的幻灯</a></li>
            <li class="active"><a href="#/holdmeeting">我发起的会议</a></li>
            <li><a href="#/attendmeeting">我参加的会议</a></li>
        </ul>


        <!--main content-->
        <div class="col-sm-10">
            <!--我发起的会议列表-->
            <div class="page-header">
                <h3>我发起的会议
                    <small> 共有{{holdMeetings.length}}个会议</small>
                </h3>
            </div>

            <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
            <div>
                <button class="btn btn-info" ng-click="showModalHoldNewMeeting()">发起会议</button>
                <button class="btn btn-success" ng-click="refreshMeetingData()">刷新会议数据</button>
            </div>
            <!--</div>-->
            <!--</div>-->

            <table class="table">
                <thead>
                <tr>
                    <th>会议ID</th>
                    <th>主题</th>
                    <th>对应幻灯</th>
                    <th>发起人</th>
                    <th>观看人数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="meeting in holdMeetings">
                    <td>{{meeting.id}}</td>
                    <td>{{meeting.topic}}</td>
                    <td>
                        <div>(# {{meeting.ppt.id}})</div>
                        <div>{{meeting.ppt.fileName}}
                        </div>
                    </td>
                    <td>{{meeting.holder.name}}</td>
                    <td>{{meeting.attendees.length}}</td>
                    <td>
                        <div>
                            <div>
                                <a class="btn btn-xs btn-block btn-success" href="#/control/{{meeting.id}}">观看会议</a>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-xs btn-block btn-danger"
                                    ng-click="deleteHoldMeeting(meeting.id)">删除
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <!--发起会议modal-->
    <!-- Modal -->
    <div class="modal fade" id="holdNewMeetingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">发起新会议</h4>
                </div>
                <div class="modal-body">
                    <!--输入会议主题-->
                    <h5>会议主题</h5>
                    <input type="text" placeholder="输入会议主题" class="form-control" ng-model="newMeetingTopic"/>
                    <!--选择PPT-->
                    <h5>选择PPT</h5>

                    <div ng-repeat="ppt in ppts">
                        <input type="radio" ng-model="$parent.pptId" value="{{ppt.id}}" ng-change="alert('hi')"/>
                        #{{ppt.id}} - {{ppt.fileName}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="holdNewMeeting()">发起会议</button>
                </div>
            </div>
        </div>
    </div>
</div>



