<div class="container" ng-controller="mypptCtrl">
    <div class="row">
        <!--侧导航栏-->
        <ul class="col-sm-3 nav nav-pills nav-stacked">
            <li class="active">
                <a href="#/myppt">
                    <span class="fui-heart"></span> &nbsp;
                    {{'SIDE_BAR.NAV_MYPPT'|translate}}
                </a>
            </li>
            <li>
                <a href="#/holdmeeting">
                    <span class="fui-cmd"></span> &nbsp;
                    {{'SIDE_BAR.NAV_HOLD'|translate}}
                </a>
            </li>
            <li>
                <a href="#/attendmeeting">
                    <span class="fui-eye"></span>&nbsp;
                    {{'SIDE_BAR.NAV_ATTEND'|translate}}
                </a>
            </li>
        </ul>


        <!--main content-->
        <div class="col-sm-9">
            <!--上传幻灯-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <input type="file" class="myppt-fileinput" ng-file-select="onFileSelect($files)">
                    </div>
                    <div class="row myppt-upload-status" ng-show="isUploading">
                        <div class="progress col-sm-9">
                            <div class="progress-bar" style="width: {{progress}}%;"></div>
                        </div>
                        <div class="col-sm-3">
                            <button class="cancel-button btn btn-block btn-danger" ng-click="upload.abort()">
                                {{'MYPPT.BTN_CANCEL_UPLOAD'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!--我的幻灯列表-->
            <div class="page-header">
                <h3>
                    {{'MYPPT.PAGE_HEADER'|translate}}
                    <small>{{'MYPPT.PAGE_SUBHEADER'|translate:'{num:ppts.length}'}}</small>
                    <span>
                        <button class="btn btn-xs btn-warning" ng-click="refreshPptsData()">
                            {{'MYPPT.BTN_RELOAD_DATA'|translate}}
                        </button>
                    </span></h3>
            </div>

            <div class="panel panel-info" ng-repeat="ppt in ppts">
                <div class="panel-heading">
                    {{'MYPPT.PPT.FILENAME'|translate:'{fileName:ppt.fileName}'}}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img ng-src="/ppt/getImage?pageId=1&pptId={{ppt.id}}" ng-if="ppt.pageCount>0"
                                 class="img-thumbnail"/>
                            <img src="images/unconverted-ppt.png" ng-if="ppt.pageCount==0" class="img-thumbnail"/>
                        </div>
                        <div class="col-sm-8">
                            <ol class="breadcrumb">
                                <li>
                                    {{'MYPPT.PPT.ID'|translate:'{id:ppt.id}'}}
                                </li>
                                <li>
                                    {{'MYPPT.PPT.PAGECOUNT'|translate}}
                                    <span ng-if="ppt.pageCount>0">{{ppt.pageCount}}</span>
                                    <span ng-if="ppt.pageCount==0">{{'MYPPT.CONVERTING'|translate}}</span>
                                </li>
                            </ol>
                            <ol class="breadcrumb">

                                <li>
                                    {{'MYPPT.PPT.SIZE'|translate:'{size:ppt.size}'}}
                                </li>
                                <li>
                                    {{'MYPPT.PPT.CREATE_TIME'|translate:'{time:ppt.createdAt}'}}
                                </li>
                            </ol>
                            <div>
                                <!--<button class="btn btn-xs btn-success">发起会议</button>-->
                                <button class="btn btn-danger" ng-click="deletePpt(ppt.id)">
                                    {{'MYPPT.PPT.BTN_DELETE_PPT'|translate}}

                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>