<div ng-controller="watchCtrl">

    <div class="row">
        <!--侧导航栏-->
        <ul class="col-sm-2 nav nav-pills nav-stacked">
            <li><a href="#/myppt">{{'SIDE_BAR.NAV_MYPPT'|translate}}</a></li>
            <li><a href="#/holdmeeting">{{'SIDE_BAR.NAV_HOLD'|translate}}</a></li>
            <li><a href="#/attendmeeting">{{'SIDE_BAR.NAV_ATTEND'|translate}}</a></li>
            <li class="active"><a>{{'SIDE_BAR.NAV_WATCH'|translate}}</a></li>
        </ul>

        <!--{{'WATCH.'|translate}}-->


        <!--main content-->
        <div class="col-sm-10">
            <!--观看会议-->
            <div class="page-header">
                <h3>
                    {{'WATCH.PAGE_HEADER'|translate:'{topic:meeting.topic}'}}
                    <div>
                        <small>{{meeting.id}}</small>
                    </div>
                </h3>


            </div>

            <div class="row control-controlbar">
                <p class="col-xs-4 text-center">{{'WATCH.CURRENT_PAGE'|translate}}</p>

                <p class="col-xs-4 text-center">{{currentPageId}} / {{meeting.ppt.pageCount}}</p>

                <p class="col-xs-4 text-center">{{'WATCH.TOTAL_PAGES'|translate}}</p>
            </div>

            <!--画板-->
            <div id="canvas-wrapper" ng-show="!isDownGraded">
                <canvas width="720" height="540" id="pageCanvas"></canvas>
            </div>

            <div ng-show="isDownGraded">
                <div ng-repeat="index in pageRange" ng-show="currentPageId==index">
                    <img ng-src="/ppt/getImage?pptId={{meeting.ppt.id}}&pageId={{index}}" pageid="{{index}}"
                         id="page{{index}}"
                         class="img-responsive"
                         onloadnotify/>
                </div>

            </div>
        </div>
    </div>
</div>