<div ng-controller="watchCtrl">

    <div class="row">
        <!--侧导航栏-->
        <ul class="col-sm-2 nav nav-pills nav-stacked">
            <li><a href="#/myppt">我的幻灯</a></li>
            <li><a href="#/holdmeeting">我发起的会议</a></li>
            <li><a href="#/attendmeeting">我参加的会议</a></li>
            <li class="active"><a>观看会议</a></li>
        </ul>


        <!--main content-->
        <div class="col-sm-10">
            <!--观看会议-->
            <div class="page-header">
                <h3>观看会议 - {{meeting.topic}}
                    <small>{{meeting.id}}</small>
                </h3>
            </div>

            <!--页码指示器-->
            <div class="pagination">
                <ul>
                    <li ng-repeat="index in pageRange" ng-class="{active:currentPageId==index}">
                        <a>{{index}}</a>
                    </li>
                </ul>
            </div>

            <!--画板-->
            <div id="canvas-wrapper">
                <canvas width="720" height="540" id="pageCanvas"></canvas>
            </div>
        </div>


    </div>

    <div hidden>
        <div ng-repeat="index in pageRange">
            <img ng-src="/ppt/getImage?pptId={{meeting.ppt.id}}&pageId={{index}}" pageid="{{index}}" id="page{{index}}"
                 onloadnotify/>
        </div>
    </div>
</div>