<div ng-controller="welcomeCtrl">


    <!--app logo and motto-->
    <div class="welcome-applogo"></div>
    <h1 class="welcome-headline">
        {{'WELCOME.APP_NAME'|translate}}
    </h1>


    <p class="welcome-motto lead">
        {{'WELCOME.MOTTO'|translate}}
    </p>
    <!--/app logo and motto-->


    <!--{{'WELCOME.'|translate}}-->

    <div class="row welcome-main-buttons" ng-if="!isLogined">
        <div class="col-sm-2 col-sm-offset-4">
            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#loginModal">
                {{'WELCOME.BTN_LOGIN'|translate}}
            </button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#signupModal">
                {{'WELCOME.BTN_SIGNUP'|translate}}
            </button>
        </div>
    </div>

    <div class="row welcome-main-buttons" ng-if="isLogined">
        <div class="col-sm-4 col-sm-offset-4">
            <a href="#/myppt" class="btn btn-success btn-block btn-hg">
                {{'WELCOME.BTN_MYPPT'|translate}}
            </a>
        </div>
    </div>


    <div class="row welcome-function-tabs">

        <div class="col-sm-4">
            <div class="tile">
                <img src="images/loop.svg" class="tile-image"/>

                <h3 class="tile-title">
                    {{'WELCOME.FUN1.TITLE'|translate}}
                </h3>

                <p>{{'WELCOME.FUN1.DESCRIPTION'|translate}}</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="tile">
                <img src="images/pencils.svg" class="tile-image"/>

                <h3 class="tile-title">
                    {{'WELCOME.FUN2.TITLE'|translate}}
                </h3>

                <p>{{'WELCOME.FUN2.DESCRIPTION'|translate}}</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="tile">
                <img src="images/book.svg" class="tile-image"/>

                <h3 class="tile-title">
                    {{'WELCOME.FUN3.TITLE'|translate}}
                </h3>

                <p>{{'WELCOME.FUN3.DESCRIPTION'|translate}}</p>
            </div>
        </div>
    </div>

    <!--<blockquote class="blockquote-reverse">-->
    <blockquote>
        <p>
            <small>{{'WELCOME.QUOTE1'|translate}}</small>
        </p>

        <p>
            <small>{{'WELCOME.QUOTE2'|translate}}</small>
        </p>
    </blockquote>


    <!-- Login Modal -->
    <div ui-view="loginModal"></div>


    <!-- Signup Modal -->
    <div ui-view="signupModal"></div>


</div>
