<div ng-controller="welcomeCtrl">


    <!--app logo and motto-->
    <div class="welcome-applogo"></div>
    <h1 class="welcome-headline">CloudSlides</h1>


    <p class="welcome-motto lead">
        make presentations anywhere
    </p>
    <!--/app logo and motto-->


    <div class="row welcome-main-buttons" ng-if="!isLogined">
        <div class="col-sm-2 col-sm-offset-4">
            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#loginModal">
                登录
            </button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#signupModal">
                注册
            </button>
        </div>
    </div>

    <div class="row welcome-main-buttons" ng-if="isLogined">
        <div class="col-sm-4 col-sm-offset-4">
            <a href="#/myppt" class="btn btn-success btn-block btn-hg">
                进入我的云幻灯
            </a>
        </div>
    </div>


    <div class="row welcome-function-tabs">

        <div class="col-sm-4">
            <div class="tile">
                <img src="images/loop.svg" class="tile-image"/>

                <h3 class="tile-title">
                    实时幻灯
                </h3>

                <p>在不同终端同步显示幻灯</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="tile">
                <img src="images/pencils.svg" class="tile-image"/>

                <h3 class="tile-title">
                    同步白板
                </h3>

                <p>即画即所见，幻灯可以随意涂画</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="tile">
                <img src="images/book.svg" class="tile-image"/>

                <h3 class="tile-title">
                    幻灯转码
                </h3>

                <p>上传幻灯，服务器自动转码保存</p>
            </div>
        </div>
    </div>

    <blockquote class="blockquote-reverse">
        <p>
            <small>2013-2014年香港数码港粤港ICT青年创业计划CCMF创意微型基金资助</small>
        </p>

        <p>
            <small>2013年中国谷歌Android大学生挑战赛全国总决赛获奖作品</small>
        </p>
    </blockquote>


    <!-- Login Modal -->
    <div ui-view="loginModal"></div>


    <!-- Signup Modal -->
    <div ui-view="signupModal"></div>


</div>
